<%= page_header "#{@project.name}: Manage Members" do %>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active">Memberships</li>
</ol>

<% if current_user.project_owner?(@project) || current_user.admin? %>
  <%= render 'form' %>
<% else %>
  <%= render 'readonly' %>
<% end %>
