<div class="page-header">
  <h1>
    Tasks
      <div class="pull-right">
        <small>
          <%= link_to_if @sort_ref == "incomplete", "All", tasks_path(type: "all") %> |
          <%= link_to_if @sort_ref == "all", "Incomplete", tasks_path(type: "incomplete") %>
        </small>
        <%= link_to "Create Task", new_task_path, class: "btn btn-primary" %>
      </div>
  </h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th><h4>Description</h4></th>
      <th><h4>Complete</h4></th>
      <th><h4>Due</h4></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.complete.to_s.capitalize %></td>
        <td><%= task.due_date %></td>
        <td>
          <div class="pull-right">
            <%= link_to 'Show', task, class: "btn btn-success" %>
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
