<%= page_header "Users" do %>
  <%= link_to "Create User", new_user_path, class: "btn btn-primary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Email</h4></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
        <td>
          <% if current_user == user || current_user.admin? || (current_user.projects & user.projects).any? %>
            <%= mail_to user.email %>
          <% end %>
        </td>
        <td>
          <div class="pull-right">
            <%= link_to 'Edit', edit_user_path(user) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
