<h1>About</h1>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "about.png" %>
  </div>
  <div class="col-md-8">
    <p>Get organized and increase productivity with your team.</p>
    <p>gCamp is extremely active. Check out our stats below!</p>
    <p>
      <%= pluralize(Project.count, 'project') %>,
      <%= pluralize(Task.count, 'task') %>,
      <%= pluralize(Membership.count, 'project member') %>,
      <%= pluralize(User.count, 'user') %> and
      <%= pluralize(Comment.count, 'comment') %>.
    </p>
  </div>
</div>
