<h1>
  <%= @project.name %>
  <% if current_user.project_owner?(@project) || current_user.admin? %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" %>
    </div>
  <% end %>
</h1>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li class="active"><%= @project.name %></li>
</ol>

<p>
  <%= link_to pluralize(@project.tasks.count, 'Task'), project_tasks_path(@project) %>
</p>

<p>
  <%= link_to pluralize(@project.memberships.count, 'Member'), project_memberships_path(@project) %>
</p>

<% if current_user.project_owner?(@project) || current_user.admin? %>
  <div class="col-md-12 well">
    <p><strong>Delete Project</strong></p>
    <p>
      Deleting this project will also delete <%= pluralize(@project.memberships.count, 'membership') %>,
      <%= pluralize(@project.tasks.count, 'task') %> and associated comments.
    </p>
    <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
<% end %>
