<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>gCamp</title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "gCamp", root_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-right">
          <%= link_to "Sign Up", signup_path, class: "navbar-brand" %>
          <%= link_to "Sign In", signin_path, class: "navbar-brand" %>
        </div>
      </div>
    </div>

    <div class="container">
      <% unless notice.nil? %>
        <p id="notice" class="alert alert-success text-center">
          <%= notice %>
        </p>
      <% end %>
      <%= yield %>
      <hr>
      <footer>
        <%= link_to_unless_current "About", about_path %> |
        <%= link_to_unless_current "Terms", terms_path %> |
        <%= link_to_unless_current "FAQ", faq_path %> |
        <%= link_to_unless_current "Tasks", tasks_path %> |
        <%= link_to_unless_current "Users", users_path %>
        <div class="pull-right">
          <%= link_to "https://www.linkedin.com/in/joesiewert" do %>
            <%= image_tag "linked_in.png", width: "20em" %>
          <% end %>
          <%= link_to "https://github.com/joesiewert" do %>
            <%= image_tag "github.png", width: "20em" %>
          <% end %>
          <%= link_to "https://twitter.com/joesiewert" do %>
            <%= image_tag "twitter.png", width: "20em" %>
          <% end %>
          <%= link_to "http://www.galvanize.it/school#main" do %>
            <%= image_tag "gschool.png", width: "55em" %>
          <% end %>
        </div>
      </footer>
    </div>

  </body>
</html>
